enable
configure terminal
hostname {{ inventory_hostname }}
!
no ip domain lookup
!
{% for interface in interfaces %}
interface {{ interface.name }}
 description Link to {{ interface.neighbor | default('unknown') }}
{% if interface.ip is defined %}
 ip address {{ interface.ip.split('/')[0] }} 255.255.255.0
{% endif %}
 no shutdown
 exit
!
{% endfor %}
!
{% if protocols is defined %}
{% if protocols.bgp is defined %}
router bgp {{ protocols.bgp.as_number }}
{% for neighbor in protocols.bgp.neighbors %}
 neighbor {{ neighbor.ip }} remote-as {{ neighbor.remote_as }}
{% endfor %}
{% endif %}
{% if protocols.ospf is defined %}
router ospf {{ protocols.ospf.process_id | default('1') }}
{% for network in protocols.ospf.networks %}
 network {{ network.ip }} {{ network.wildcard }} area {{ network.area }}
{% endfor %}
{% endif %}
{% endif %}
