enable
configure terminal
hostname {{ inventory_hostname }}
!
no ip domain lookup
!
{% for interface in interfaces %}
interface {{ interface.name }}
 description Link to {{ interface.neighbor | default('unknown') }}
{% if interface.portMode is defined %}
 switchport mode {{ interface.portMode }}
{% endif %}
{% if interface.vlan is defined %}
 switchport access vlan {{ interface.vlan | replace('vlan', '') | default('1') }}
{% endif %}
 no shutdown
 exit
!
{% endfor %}
